<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>Document</title>
  <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
  <link rel="stylesheet" href="\media\bootstrap\css\bootstrap.min.css">
  <link rel="stylesheet" href="\media\bootstrap\css\sticky-footer.css">
  <link rel="stylesheet" href="\media\css\my_css.css">


  <script src="\media\bootstrap/js/bootstrap.min.js"></script>
  <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>
  <script>
    function add_to_cart(id){
      $.ajax({
              url:'/ajax/addtocart/',
              type:"POST",
              data:{
                id:id,
                //csrfmiddlewaretoken: csrftoken,
              },
              success:function(data){console.log('success');console.log(data);},
              error:function(data){console.log('error');console.log(data);},
      })
    }
    function remove_from_cart(id){
      $.ajax({
              url:'/ajax/removefromcart/',
              type:"POST",
              data:{
                id:id,
                //csrfmiddlewaretoken: csrftoken,
              },
              success:function(data){console.log('success');console.log(data);},
              error:function(data){console.log('error');console.log(data);},
      })
    }
    function update_cart_item(id){
      value=$("#product_"+id).val();
      s="#product_"+id
      console.log(s);
      console.log(value);
      $.ajax({
              url:'/ajax/updatecartitem/',
              type:"POST",
              data:{
                id:id,
                value:value,
                //csrfmiddlewaretoken: csrftoken,
              },
              success:function(data){console.log('success');console.log(data);},
              error:function(data){console.log('error');console.log(data);},
      })

    }
  </script>
</head>
<body>
	
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Test Site</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Project name</a>
        </div>
      <div id="navbar" class="collapse navbar-collapse">
          {%block top_menu%}
          {%endblock%}
      </div>
    </div>
  </div>
  

  <div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
        {%block content%}
        {%endblock%}      
      
        {%block side_menu%}
        {%endblock%}
    </div><!--/row-->
  </div>
    
  <footer class="footer">
      <div class="container">
        <p class="text-muted">Test Site</p>
      </div>
  </footer>
</body>
</html>