{%extends 'menus.html'%}

{%block content%}
  <div class="col-xs-12 col-sm-12">
    <p class="pull-right visible-xs">
    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">
      Toggle nav
    </button>
    </p>
    <div class="jumbotron">
      <h2>ХАЯР - ОБУВЬ ИЗ НАТУРАЛЬНОГО МЕХА</h2>
      <h3>Высшее качество, элитного продукта</h3>
      <p> 
        Данная обувь производится из меха северного оленя - камуса. Высшее качество натурального, теплого меха и правильно подобранные цвета - результат того, что вы можете увидеть на нашем сайте:)
      </p>
      <p>
        Наша обувь прекрасно подойдет для ценителей натурального меха, а так же для любителей тепла в холодные времена года.
      </p>
      <p>
        Чтобы узнать подробнее о нас и нашей продукции - перейдите в соответствующий раздел сайта:)
      </p>
      <a href="">УЗНАТЬ БОЛЬШЕ</a>
    </div>
    <div class="row">
    </div>
  </div><!--/.col-xs-12.col-sm-12-->
{%endblock%}