{%extends 'menus.html'%}

		{%block content%}
		<div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h1>{{product.name}}</h1>
            <p>{{product.description}}</p>
            <p>Стоимость: {{product.price}} р.</p>
          </div>
          <div class="row">
			{%for product in product_list%}
                <div class="col-xs-6 col-lg-4">
                  <h3>{{product.name}}</h3>
                  <p>{{product.description}} </p>
                  <p>Стоимость: {{product.price}} р.</p>
                  <p><a class="btn btn-default" href="/product/{{product.id}}" role="button">View details &raquo;</a></p>
                </div><!--/.col-xs-6.col-lg-4-->
              {%endfor%}
           </div>
        {%endblock%}