{%extends 'base.html'%}

{%block top_menu%}
        <ul class="nav navbar-nav">
          
          {%for item in topMenu_list%}
              <li {%if item.active%} class="active" {%endif%}>
                <a href="/{{item.url}}">{{item.name}}</a>
              </li>
          {%endfor%}
        </ul>
            <ul class="nav navbar-nav navbar-right">
              <li {%if cart_active%} class="active" {%endif%}><a href="/catalog/cart">Корзина <span class="sr-only">(current)</span></a></li>
            </ul>
{%endblock%}

{%block side_menu%}
	<div class="list-group">
        <a href="/catalog" class="list-group-item">Все изделия</a>
        {%for category in category_list%}
             <a href="/catalog/{{category.url}}" class="list-group-item{%if category.active%} active {%endif%}">{{category}}</a>
        {%endfor%}
    </div>
{%endblock%}