{%extends 'base.html'%}

{%block top_menu%}
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Главная</a></li>
          <li><a href="/about">Каталог</a></li>
          <li><a href="/news">Новости</a></li>
          <li><a href="/howtobuy">Как купить</a></li>
          <li><a href="/about">О нас</a></li>
          <li><a href="/contacts">Контакты</a></li>
        </ul>
{%endblock%}

{%block side_menu%}
	<div class="list-group">
        <a href="#" class="list-group-item active">Все изделия</a>
        {%for category in category_list%}
             <a href="#" class="list-group-item">{{category}}</a>
        {%endfor%}
    </div>
{%endblock%}