{%extends 'base.html'%}

{%block top_menu%}
        <ul class="nav navbar-nav">
          
          {%for item in topMenu_list%}
            {%if item.active%}
              <li class="active"><a href="{{item.url}}">{{item.name}}</a></li>
            {%else%}
              <li><a href="{{item.url}}">{{item.name}}</a></li>
            {%endif%}
          {%endfor%}
        </ul>
{%endblock%}

{%block side_menu%}
	<div class="list-group">
        <a href="#" class="list-group-item active">Все изделия</a>
        {%for category in category_list%}
             <a href="#" class="list-group-item">{{category}}</a>
        {%endfor%}
    </div>
{%endblock%}